{% extends "layout.html" %}

{% block title %}
    Tourism
{% endblock %}

{% block main %}

    <div class="card" style="width: 65rem; background:rgba(255,255,255,0.9)">

    <div class="card-body">
    <h3 class="card-title">Media Tourism Map</h3>

    <div class="form-group">
            <select class="form-control" name="year">
                <option disabled selected value="">Select year</option>
                    <option value = 2017>2017</option>
                    <option value = 2016>2016</option>
                    <option value = 2015>2015</option>
                    <option value = 2014>2014</option>
                    <option value = 2013>2013</option>
            </select>
            <a href = "/map">Submit</button>
        </div>

    <div id="includedContent"></div>

    </div>
    </div>
    </div>

{% endblock %}