{% extends "layout.html" %}

{% block title %}
    Tourism
{% endblock %}

{% block main %}

    <div class="card" style="width: 65rem; background:rgba(255,255,255,0.9)">

    <div class="card-body">
    <h3 class="card-title">Media Tourism Map</h3>

        <a href = "/map2017"> 2017</a>
        <a href = "/map2016"> 2016</a>
        <a href = "/map2015"> 2015</a>
        <a href = "/map2014"> 2014</a>
        <a href = "/map2013"> 2013</a>

    </div>

    </div>
    </div>
    </div>

{% endblock %}